---

- name: Create coreos worker1 VM on KVM node1
  shell:
    cmd: >-
        virt-install
        -n worker1
        --description "Coreosworker1 Machine for Openshift 4 Cluster"
        --memory {{ vm_mem }}
        --vcpus={{ vm_cpu }}  
        --os-variant=rhel9.0
        --os-type linux
        --noreboot
        --disk pool=ocp_vms,bus=virtio,size={{ vm_size }}
        --serial pty 
        --console pty
        --pxe 
        --network bridge:{{ common.interface_name }},mac.address={{ ocp_workers[0].mac_address }}
        --wait 15
        --autostart
  delegate_to: "{{ groups['kvm_nodes'][0] }}" 

- name: Restart worker1 Domain
  shell:
    cmd: >-
        virsh
        --connect qemu:///system start worker1
  delegate_to: "{{ groups['kvm_nodes'][0] }}"

- name: Create coreos worker2 VM on KVM node2
  shell:
    cmd: >-
        virt-install
        -n worker2
        --description "Coreosworker2 Machine for Openshift 4 Cluster"
        --memory {{ vm_mem }}
        --vcpus={{ vm_cpu }}
        --os-variant=rhel9.0
        --os-type linux
        --noreboot
        --disk pool=ocp_vms,bus=virtio,size={{ vm_size }}
        --serial pty
        --console pty
        --pxe
        --network bridge:{{ common.interface_name }},mac.address={{ ocp_workers[1].mac_address }}
        --wait 15
        --autostart
  delegate_to: "{{ groups['kvm_nodes'][1] }}"

- name: Restart worker2 Domain
  shell:
    cmd: >-
        virsh
        --connect qemu:///system start worker2
  delegate_to: "{{ groups['kvm_nodes'][1] }}"

- name: Create coreos worker3 VM on KVM node3
  shell:
    cmd: >-
        virt-install
        -n  worker3
        --description "Coreos worker3 Machine for Openshift 4 Cluster"
        --memory {{ vm_mem }}
        --vcpus={{ vm_cpu }}
        --os-variant=rhel9.0
        --os-type linux
        --noreboot
        --disk pool=ocp_vms,bus=virtio,size={{ vm_size }}
        --serial pty
        --console pty
        --pxe
        --network bridge:{{ common.interface_name }},mac.address={{ ocp_workers[2].mac_address }}
        --wait 15
        --autostart
  delegate_to: "{{ groups['kvm_nodes'][2] }}"

- name: Restart worker3 Domain
  shell:
    cmd: >-
        virsh
        --connect qemu:///system start worker3
  delegate_to: "{{ groups['kvm_nodes'][2] }}"



