---
    - name: Checking if the host is already registered
      shell: subscription-manager status | grep -e "Current"|awk '{print $3}'
      register: issubscribed
      ignore_errors: yes

    - name: Registering hosts to Red Hat Subscription Manager
      shell: subscription-manager register --username "{{ rhsub_username }}" --password "{{ rhsub_password }}" --auto-attach --force

    - name: Enable the repositories required by OpenShift Container Platform
      shell: subscription-manager repos --enable="rhel-9-for-x86_64-baseos-rpms" --enable="rhel-9-for-x86_64-appstream-rpms"  --enable="rhceph-8-tools-for-rhel-9-x86_64-rpms"


