[Local-BaseOS]
name=BaseOS-RHEL9
metadata_expire=-1
gpgcheck=1
enabled=1
baseurl=http://{{ yum_repo_server_ip }}/rhel9/BaseOS/
gpgkey=/etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
 
[Local-AppStream]
name=AppStream-RHEL9
metadata_expire=-1
gpgcheck=1
enabled=1
baseurl=http://{{ yum_repo_server_ip }}/rhel9/AppStream/
gpgkey=/etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

