FTP_PROXY=http://{{ squid_proxy_IP }}:{{ squid_port }}
https_proxy=http://{{ squid_proxy_IP }}:{{ squid_port }}
http_proxy=http://{{ squid_proxy_IP }}:{{ squid_port }}
no_proxy={% for item in ocp_bootstrap %}{{ item.ip }},{{ item.name }},{{ item.fqdn }}{% endfor %},{{ squid_proxy_IP }},{{ VIP }},{{ haproxy_fqdn }},{% for item in ocp_masters %}{{ item.ip }},{{ item.name }},{{ item.fqdn }},{% endfor %}{% for item in ocp_workers %}{{ item.ip }},{{ item.name }},{{ item.fqdn }},{% endfor %}*.apps,{{ common.customerforwarderdns_fqdn }},{{ common.base_domain }},localaddress,.localdomain.com,.hpecorp.net,.cluster.local,.svc,172.30.0.0/16,172.17.0.0/16,10.1.0.0/16,10.0.0.1,10.0.0.2,10.0.0.3,{{ common.solution_subnet_ip }},localhost,127.0.0.1,https://k8s.gcr.io/v2/,https://registry-1.docker.io,https://k8s.gcr.io/v2,quay.io,{{ master_binddns }},{{ slave1_binddns }},{{ slave2_binddns }},{% for item in dns_forwarder %}{{ item.ip }},{% endfor %}api.{{ common.app_domain }},api-int.{{ common.app_domain }},api,api-int,.apps.{{ common.app_domain }}
HTTPS_PROXY=http://{{ squid_proxy_IP }}:{{ squid_port }}
ftp_proxy=http://{{ squid_proxy_IP }}:{{ squid_port }}

