global_defs {

router_id ovp_vrrp

}
vrrp_script haproxy_check {
 script "killall -0 haproxy"
 interval 2
 weight 2
 }


vrrp_instance OCP_EXT {
 interface {{ common.interface_name }}


virtual_router_id 51


priority 100
 state MASTER
 virtual_ipaddress {
 {{ VIP }}/{{ VIP_Prefix }} dev {{ common.interface_name }}


}
 track_script {
 haproxy_check
 }
 authentication {
 auth_type PASS
 auth_pass 1cee4b6e-2cdc-48bf-83b2-01a96d1593e4
 }
 }

