###
## Copyright (2020) Hewlett Packard Enterprise Development LP
##
## Licensed under the Apache License, Version 2.0 (the "License");
## You may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
## http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
####

# Sample scripted installation file

# Accept the VMware End User License Agreement
vmaccepteula

# Set the root password for the DCUI and Tech Support Mode
rootpw {server[Host_Password]}

# This will clear all drives
clearpart --alldrives --overwritevmfs

# The install media is in the CD-ROM drive
install --firstdisk --overwritevmfs

# Set the network to DHCP on the first network adapter
network --bootproto=static --device=vmnic0 --ip={server[Host_IP]} --netmask={server[Host_Netmask]} --gateway={server[Host_Gateway]} --nameserver={server[Host_DNS]} --hostname={server[Hostname]}

reboot

%firstboot --interpreter=busybox

esxcli network vswitch standard uplink add --uplink-name vmnic0 --vswitch-name vSwitch0
esxcli network vswitch standard uplink add --uplink-name vmnic1 --vswitch-name vSwitch0
esxcli network vswitch standard policy failover set --active-uplinks vmnic0 --standby-uplinks vmnic1 --vswitch-name vSwitch0
esxcli network vswitch standard policy failover set --failback yes --failure-detection link --load-balancing mac --notify-switches yes --vswitch-name vSwitch0