---
- name: Login to the ILO server and delete the logical drives
  with_items: "{{ ILOServers }}"
  shell: |
       ilorest login "{{ item.ILOIP }}"  -u "{{ item.ILOuser }}" -p "{{ item.ILOPassword }}"
       ilorest deletelogicaldrive --controller="{{ item.controller }}" --all --force
       ilorest reboot
       ilorest logout

- wait_for:
    delay: 300


